html{
    color: blueviolet;
}
body{
    color: blue;
    flex: column;
    flex-direction: column;
    justify-content: center;
    
}
input{
    margin: 3px;
    border-radius: 3px;
    width: auto;
    height: 30px;
    padding: 5px;
}
